.related-posts {
  margin-bottom: 50px;
}

.related-posts h3{
  font-size: 2em;
}

.posts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

.title {
  margin:0;
}
.post {
  align-self: start;
  text-align: center;
}
.post a {
  font-family: LatoBold, sans-serif;
  color: #1c93c5;
  font-size: 20px;
}
.post img {
  width: 90%;
}

.subscribers {
  font-style: italic;
  color: red;
  font-size: 20px;
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .posts {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 480px) {
  .posts {
    grid-template-columns: 1fr;
  }
  .post a {
    font-size: 18px;
  }
}