.main {
 scroll-behavior: smooth;
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .50);
  z-index: 0;
}
.welcome {
  display: grid;
  color: #fefefe;
  width: 100%;
  text-align: center;
  position: relative;
  height: 100vh;
  background-color: #333333;
  background-size: cover;
  background-position: center;
}

.welcome a {
  color: #fefefe;
  scroll-behavior: smooth;
}

.welcome h1 {
  font-size: 4.5em;
  color: #fefefe;
  margin: 10px;
}

.welcome p {
  font-size: 26px;
  margin: 10px;
}

.welcome .meta {
  font-size: 18px;
}

.container-title {
  align-self: center;
  z-index: 1;
}

.article-arrow {
  position: absolute;
  bottom: 30px;
  right: 30px;
  z-index: 4;
  font-size: 30px;
  line-height: 1;
  cursor: pointer;
}

.big-letter {
  display: block;
  font-size:125px;
  line-height:125px;
  width:125px;
  height:125px;
  background: #363f48;
  color: #fff;
  float: left;
  text-align: center;
  margin: 5px 15px 15px 0;
}

@media (max-width: 767px) {
  .welcome h1 {
    font-size: 3.5em;
  }
  .welcome p {
    font-size: 22px
  }
  .big-letter {
    font-size: 90px!important;
    height: 90px!important;
    width: 90px!important;
    line-height: 90px!important;
  }

  p.first-paragraph {
    font-size: 1.3em;
  }
}


@media (max-width: 480px) {
  .welcome h1 {
    font-size: 2.5em;
  }

  .welcome p {
    font-size: 18px
  }
}
