.main {
  max-width: 780px;
  margin: 0 auto;
}

.content h2 {
  text-transform: none;
  text-align: left;
}

.content > p:first-child:first-letter {
  display: block;
  font-size:125px;
  line-height:125px;
  width:125px;
  height:125px;
  background: #363f48;
  color: #fff;
  float: left;
  text-align: center;
  margin: 5px 25px 15px 0;
}

@media screen and (max-width: 992px) {
  .main {
    padding-left: 20px;
    padding-right: 20px;
  }
}