.meta {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  margin-top: 1.8em;
}

.container-ava {
  border-radius: 50%;
  overflow: hidden;
  height: 132px;
  width: 132px;
  justify-self: center;
}


.item {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.personPhoto {
  display: block;
  height: 100%;
}

.meta-title {
  color: #999999;
  font-size: 16px;
}

.meta-value {
  font-size: 16px;
}

.meta-value a {
  font-family: LatoRegular, sans-serif;
}

.post-preview h2 {
  font-size: 1.4em;
}

.article-title {
  text-align: left;
  margin-top: 35px;
}

.post-preview a:hover,
.post-preview a:hover h2 {
  color: #1c93c5;
}

.data-teaser-container > div {
  margin-bottom: 10px;
}

.only-subscribers {
  color: red;
  font-style: italic;
  margin: 0;
}

.meta-category a:hover {
  color: #1c93c5;
}

@media (max-width: 767px) {

  .photo {
    width: 100px;
    height: 100px;
  }
  .post-preview h2 {
    font-size: 1.3em;
  }

  .meta {
    grid-template-columns: 50% 50%;
  }

  .meta-category {
    display: none;
  }

  .image-teaser-container {
    align-self: center;
  }

  .meta-title,
  .meta-value {
    display: inline-block;
  }

  .meta-value {
    margin: 0 0 0 .5em;
  }

  .data-teaser-container {
    align-self: center;
    margin-left: 10px;
  }
}