.btn {
  display: inline-block;
  font-family: "LatoRegular", sans-serif;
  font-style: normal;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  box-sizing: border-box;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  font-weight: 700;
  word-wrap: normal;
  border: 3px solid #000000!important;
  margin: 10px 5px 20px!important;
  padding: 15px 52px;
  letter-spacing: 1px;
  font-size: 18px;
  line-height: 1.3;
  white-space: normal;
  cursor: pointer;
  background: #fefefe;
}

.btn svg {
  margin-right: .7em;
}

.btn:hover {
  color: #fefefe;
  background: #000000;
}

.btn:disabled {
  cursor: default;
  border: 3px solid #555555!important;
  color: #000000;
  background: #eee;
}

@media (max-width: 480px) {
  .btn {
    padding: 22px 14px;
  }
}