.link-element,
.link-element:hover,
.link-element:active,
.link-element:visited {
  color: #fefefe;
  font-family: LatoRegularб sans-serif;
}

.link-element p {
  margin: 70px 0;
}

.logo {
  height: 100px;
  margin: 0 auto;
}

.logo span {
  font-size: 100px;
}

.link-element .logo {
  height: 228px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.link-element:hover .logo.block0,
.link-element:hover .logo.block1,
.link-element:hover .logo.block2,
.link-element:hover .logo.block3 {
  color: #000000;
}

.link-element:hover .logo.block0 span {
  filter: drop-shadow(0px 0px 5px rgba(212, 234, 30, 0.95));
}
.link-element:hover .logo.block1 span {
  filter: drop-shadow(0px 0px 5px rgba(104, 207, 222, 0.95));
}
.link-element:hover .logo.block2 span {
  filter: drop-shadow(0px 0px 5px rgba(205, 0, 0, 0.95));
}
.link-element:hover .logo.block3 span {
  filter: drop-shadow(0px 0px 5px rgba(135, 234, 30, 0.95));
}

.link-element:hover .logo.block0 {
  background-image: url("../../../../../assets/images/blots/light_green.png");
}
.link-element:hover .logo.block1 {
  background-image: url("../../../../../assets/images/blots/blue.png");
}
.link-element:hover .logo.block2 {
  background-image: url("../../../../../assets/images/blots/red.png");
}
.link-element:hover .logo.block3 {
  background-image: url("../../../../../assets/images/blots/green.png");
}

.logo svg {
  width: 100% !important;
  height: 100%;
}

.link-data p,
.description-data p {
  font-family: LatoRegular, sans-serif;
  font-size: 18px;
  height: 60px;
  margin-top: 35px;
}

.link-element:hover .logo svg {
  color: red;
}

.link-data p {
  text-decoration: underline;
}

@media (max-width: 767px) {
  .link-element {
    display: grid;
    grid-template-columns: 100px 65%;
    font-size: 14px;
  }

  .link-element p {
    margin-top: 0;
    margin-bottom: 10px;
  }

  .link-element p {
    font-size: 14px;
  }

  .container-data {
    text-align: left;
    margin-left: 5px;
  }
}
