.btn-container {
  margin: 40px 0 60px;
  font-size: 100%;
  box-sizing: border-box;
}

.section-about {
  margin-bottom: -25px;
  padding-top: 50px;
  padding-bottom: 1px;
  background-image: url(../../../../assets/images/max.jpg);
  margin-top: 100px;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.container-about {
  margin-top: -50px;
  padding: 1px;
  padding-bottom: 50px;
  background: url(../../../../assets/images/cover_right_compressed.jpg) no-repeat 100% 50px;
}

.join-line {
  font-size: 20px;
  margin-top: 60px;
}

.join-line a {
  font-family: LatoRegular, sans-serif;
}

@media (max-width: 1201px) {
  .container-about {
    background: rgba(255, 255, 255, 0.5);
  }
}
