.image-teaser-container {
  text-align: center;
  align-self: start;
}

.photo {
  margin: 0 auto;
  overflow: hidden;
  display: grid;
  align-content: center;
  justify-items: center;
  height: 200px;
}

.personPhoto {
  max-width: 100%;
  margin: 0 auto;
  width: 100%;
}

.post-preview h2 {
  text-align: left;
  font-size: 1.5rem;
  margin: 0;
}

.post-preview a {
  color: #1c93c5;
  font-size: 20px;
}

.post-preview a:hover,
.post-preview a:hover h2 {
  color: #1c93c5;
}

.data-teaser-container > div {
  margin-top: 10px;
}


@media (max-width: 767px) {
  .link-more {
    text-align: right;
    display: block;
  }
  .post-preview h2 {
    font-size: 1.3em;
    text-align: center;
  }

  .post-preview {
    text-align: center;
  }

  .meta-category {
    display: none;
  }

  .image-teaser-container {
    align-self: center;
  }

  .data-teaser-container {
    align-self: center;
  }
}