.main {
  max-width: 780px;
  margin: 0 auto;
}

.content h2 {
  text-transform: none;
  text-align: left;
}

@media screen and (max-width: 992px) {
  .main {
    padding-left: 20px;
    padding-right: 20px;
  }
}