.container-login {
  margin: 5px 15px 0 15px;
  text-align: center;
}

.container-login a {
  max-width: 300px;
}

.container-info p {
  margin-bottom: 0;
  margin-top: 100px;
  text-align: center;
}

.container-info h3 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-weight: 900;
  margin: 0;
  color: #ffd800;
  text-shadow: 1px 1px black;
}

.container-info h1 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-weight: 900;
  padding-top: 150px;
  font-size: 42px;
}

.main-container {
  min-height: 850px;
  background-image: url("../../../../assets/images/yellow-lines.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.welcome {
}

.main {
  padding: 10px;
  max-width: 1150px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .container-info h1 {
    font-family: "LatoBold", sans-serif;
    text-align: center;
    padding-top: 85px;
  }
  .container-info p {
    margin-top: 20px;
  }

  .main-container {
    background-image: none;
  }
}