.menu-container {
  position: fixed;
  right: 0;
  top: 0;
  padding: 20px 40px;
}

.primary-menu {
  float: right;
  padding-right: 30px;
  margin-right: 30px;
  list-style: none;
}

.primary-menu > .menu-item {
  display: inline-block;
  line-height: 1;
  position: relative;
  background-color: rgba(255, 255, 255, .85);
}

.menu-item a {
  display: block;
  padding: 15px 10px;
  font-size: 18px;
  -webkit-transition: all 225ms ease 0s;
  transition: all 225ms ease 0s;
  color: inherit;
  border-radius: 3px;
  font-family: "LatoRegular", sans-serif;
}

.menu-item a:hover {
  color: #fefefe;
  background: #000000;
}

.menu-item > ul {
  position: absolute;
  list-style: none;
  display: none;
  padding: 5px;
}

.menu-item > ul > li {
  background-color: rgba(255, 255, 255, .85);
  padding: 5px;
  width: 170px;
}

.menu-item:hover > ul {
  display: block;
}

/*dark theme*/
header.dark a,
header.dark p {
  color: #ffffff;
}

@media (min-width: 1201px) {
  header.dark ul ul li {
    background-color: rgba(0, 0, 0, .3);
  }
}

/*end dark theme*/


.mobile-bar,
.mobile-bar-close {
  display: none;
  cursor: pointer;
  width: 25px;
  height: 25px;
}

.mobile-bar svg,
.mobile-bar-close svg {
  width: 25px!important;
  height: 25px!important;
  color: #484848;
}
.mobile-bar-close svg {
  color: #cd0000;
}

@media screen and (max-width: 1200px) {
  .menu-container {
    padding: 20px;
  }
  .menu-container .primary-menu {
    display: none;
  }

  .menu-item > ul {
    display: block;
  }

  .menu-container.active .primary-menu {
    display: block;
  }

  .menu-container .mobile-bar {
    display: block;
  }

  .menu-container.active .mobile-bar {
    display: none;
  }

  .menu-container .mobile-bar-close {
    display: none;
    width: 100%;
    text-align: right;
  }

  .menu-container.active .mobile-bar-close {
    display: block;
  }

  .primary-menu {
    float: none;
    padding-right: 0;
    margin-right: 0;
  }

  .menu-item {
    display: block;
  }

  .menu-item > ul {
    position: relative;
    display: block;
  }

  .primary-menu > .menu-item {
    display: block;
    line-height: 1;
    position: relative;
  }
}

