.btn {
  font-family: LatoBold, sans-serif;
  font-weight: 600;
  color: #ffffff!important;
  text-transform: uppercase;
  background: #cd0000;
  font-size: 19px;
  padding: 15px 45px;
  font-style: normal;
  transition: all 150ms;
}

.btn:hover {
  background: #b20000;
}