.by-date {
  margin-top: 50px;
}

.by-date h2 {
  text-align: center;
  margin: 2em 0 1em;
}

.archive-year {
  font-family: "Sylfaen", sans-serif;
  font-weight: bold;
  font-size: 26px;
  margin-left: 4px;
}

.articles-list {
  width: 100%;
}

.by-year {
  margin-bottom: 30px;
}


.article-line {
  font-family: "Sylfaen", sans-serif;
  font-size: 20px;
}

.article-line a {
  color: #1c93c5;
}

.article-line a:hover {
  text-decoration: underline;
}

.date {
  display: inline-block;
  min-width: 110px;
}

.subscribers-only {
  font-style: italic;
  color: red;
}

.date-mobile {
  display: none;
}

.title-article {
  width: 100%;
}

@media (max-width: 767px) {
  .date-mobile {
    display: block;
  }
  .date-desktop {
    display: none;
  }

  .date {
    min-width: 70px;
  }
}