.prompt-form {
  color: #999999;
  font-style: italic;
  font-size: 16px;
}

.form-container {
  margin-top: 40px;
  text-align: center;
}

.element-form {
  text-align: center;
  padding: 10px 10px;
  font-size: 24px;
  width: 90%;
  max-width: 490px;
}

.container-submit {
  margin-top: 10px;
  text-align: center;
}

.container-submit a {
  margin: 10px 5px 20px!important;
}

.error {
  color: #f66;
  font-size: 15px;
  text-transform: lowercase;
}