.by-subject {
  margin-top: 50px;
}

.by-subject h2{
  text-align: center;
  margin: 2em 0 1em;
}

.archive-grid {
  display: grid;
  -ms-grid-columns: 1fr 5px 1fr 5px 1fr;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 5px;
  margin-bottom: 1em;
  text-align: center;
}

/*block categories*/
.block-category {
  margin-bottom: 1em;
  max-width: 260px;
  justify-self: center;
}

.block-category a,
.block-category strong {
  font-family: "Sylfaen", sans-serif;
  font-size: 20px;
}

.block-category strong {
  color: #333333;
}

.block-category a {
  display: block;
  color: #1c93c5;
}

.block-category a:hover {
  text-decoration: underline;
}

/*end block categories*/


@media (max-width: 767px) {
  .archive-grid {
    -ms-grid-columns: 1fr 5px 1fr;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
 .archive-grid {
   grid-template-columns: repeat(1, 1fr);
 }
}