.btn {
  display: inline-block;
  font-family: "LatoRegular", sans-serif;
  font-style: normal;
  border: 2px solid #000000;
  color: #000000!important;
  font-size: 20px;
  padding: 22px 40px;
  text-transform: uppercase;
  line-height: 1;
  margin: 5px;
  text-decoration: none;
  text-align: center;
  box-sizing: border-box;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  font-weight: 700;
  /*word-wrap: normal;*/
  background: #fefefe;
}

.btn svg {
  margin-right: .7em;
}

.btn:hover {
  color: #fefefe!important;
  background: #000000;
  text-decoration: underline;
}

@media (max-width: 480px) {
  .btn {
    padding: 22px 14px;
  }
}