.delimiter:before {
  display: block;
  height: 35px;
  content: "";
  background: url(../../../assets/images/edge_up_compressed.png) repeat-x scroll 0% 100%/contain;
  margin-top: 60px;
}

.delimiter:after {
  display: block;
  height: 35px;
  content: "";
  background: url(../../../assets/images/edge_down_compressed.png) repeat-x scroll 0% 0%/contain;
}