.articles li {
  border-top: 1px solid #d3d3d1;
  list-style: none;
  margin: 10px 0 10px 0;
  margin-bottom: 1.25rem!important;
  padding-bottom: 5px;
  padding-top: 30px;
}

.articles > li:nth-child(1) {
  border-top: none;
}

.article {
  display: grid;
  grid-template-columns: 40% 55%;
  text-align: left;
  grid-column-gap: 20px;
}

@media (max-width: 767px) {
  .articles {
    padding: 0 2rem;
  }

  .article {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
}

