.title {
  font-size: 46px;
  margin: 0;
}

.title a {
  color: #333333;
  font-family: "LatoRegular", sans-serif;
}

.subtitle {
  font-family: "LatoRegular", sans-serif;
  margin: 0 0 0 3px;
}

.title-container {
  padding-top: 20px;
  padding-left: 20px;
  line-height: 1;
}


header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}

header.dark a,
header.dark p {
  color: #ffffff;
}

header.dark ul > li {
  background-color: rgba(0, 0, 0, .5)!important;
}

header.dark .background-mobile ul li a {
  color: #000000;
}

header.dark .background-mobile ul li a:hover {
  color: #ffffff;
}

header.dark .background-mobile ul li a:hover svg{
  color: #000000;
}

@media (min-width: 1201px) {
  header.dark ul ul li{
    background-color: rgba(0, 0, 0, .3);
  }
}

@media (min-width: 1200px) {

}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

}

/* Landscape phones and smaller */
@media (max-width: 480px) {
  .title {
    font-size: 26px;
  }
  .subtitle {
    display: none;
  }
}


@media (max-width: 650px) {

}