.container-form {
  margin: 0 auto;
  max-width: 600px;
}

.container-form h4 {
  /*text-transform: none;*/
}

.container-submit {
  text-align: center;
  margin: 20px auto 0 auto;
}

.container-form input {
  margin: 8px;
  font-size: 18px;
}


.container-columns {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 240px));
  max-width: 510px;
  grid-column-gap: 30px;
  margin-left: 65px;
}
.container-form .submit {
  font-size: 20px;
  padding: 22px 45px;
  cursor: pointer;
  text-transform: uppercase;
  background: #ffd800;
  border: 2px solid #000000;
  font-weight: bold;
  transition: all 200ms;
}

.submit:hover {
  background: #000000;
  color: #fefefe;
}

@media (max-width: 480px) {
  .container-form .submit {
    padding: 22px 20px;
  }
  .container-columns {
    margin-left: 30px;
  }
}

