.related-posts {
  margin-bottom: 50px;
}

.related-posts h3{
  font-size: 2em;
  text-align: left;
}

.post a {
  font-family: LatoBold, sans-serif;
  color: #1c93c5;
  font-size: 20px;
  line-height: 35px;
}

.post a:hover {
  text-decoration: underline;
}

.post img {
  max-width: 300px;
}

.subscribers {
  font-style: italic;
  color: red;
  font-size: 20px;
}

@media (max-width: 767px) {
  .posts {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 480px) {
  .posts {
    grid-template-columns: 1fr;
  }
  .post a {
    font-size: 18px;
  }
}