.section-black {
  background: #000000;
  color: #fefefe;
}

.section-black-container:before {
  display: block;
  height: 35px;
  content: "";
  background: url(../../../../assets/images/edge_up_compressed.png) repeat-x scroll 0 100%/contain;
}

.section-black-container:after {
  display: block;
  height: 35px;
  content: "";
  background: url(../../../../assets/images/edge_down_compressed.png) repeat-x scroll 0 0/contain;
}

.content h2 {
  color: #fefefe;
  margin: 0;
  padding: 25px 10px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 23%);
  justify-content: center;
  align-content: start;
}

@media (max-width: 767px) {
  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    font-size: 14px;
  }
}

