.title {
  text-align: center;
}

.footer:before {
  display: block;
  height: 35px;
  content: "";
  background: url(../../assets/images/edge_up_compressed.png) repeat-x scroll 0 100%/contain;
  margin-top: 60px;
}

.footer-container {
  background: #000000;
}

.footer h1 {
  color: #fefefe;
  margin-top: 0;
  padding-top: 60px;
  font-size: 3em;
}

.footer {
  color: #fefefe;
}

.click-center {
  text-align: center;
  margin: 60px 0;
}

.grid {
  display: grid;
  grid-gap: 20px;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
}

.grid span {
  justify-self: end;
}

.grid a {
  justify-self: start;
}

.copyright {
  margin-bottom: 0;
  font-size: 12px;
  text-align: center;
}

.content-container {
  max-width: 780px;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .grid span,
  .grid a {
    justify-self: center;
  }

  .content-container {
    padding: 0 2rem;
  }

  .content-container h1 {
    text-align: center;
    font-size: 1.5em;
  }
}
