.subtitle {
  text-align: center;
}

.articles {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-items: center;
}

.container-article {
  display: grid;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.ava {
  width: 100%;
  height: auto;
  display: block;
}

.article:hover .shadow{
  opacity: .6;
}

.shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #000;
  opacity: .4;
  display: block;
  -webkit-transition: opacity .25s ease;
  -moz-transition: opacity .25s ease;
  transition: opacity .25s ease;
}

.title {
  text-align: center;
  font-size: 22px;
  color: #fff;
  position: absolute;
  top: 35%;
  left: 0;
  width: 100%;
  font-weight: 300;
  text-shadow: 1px 1px 10px #000000;
  padding: 5px;
  transition: all 200ms;
}

.article:hover .title {
  top: 0;
  opacity: 0;
}

.teaser {
  padding: 5px;
  text-align: center;
  font-size: 18px;
  color: #fff;
  position: absolute;
  top: 35%;
  left: 0;
  width: 100%;
  font-weight: 300;
  text-shadow: 1px 1px 10px #000000;
  opacity: 0;
  line-height: 16px;
  transition: all 200ms;
}


.article:hover .teaser {
  top: 15%;
  opacity: 1;
}

.title,
.teaser {
  box-sizing: border-box;
}