.container-guests {
  border-top: 1px solid #555;
  position: relative;
}

.gradient {
  position: absolute;
  width: 100%;
  top: -400px;
  height: 400px;
  background: #fefcea;
  background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
  padding: 10px;
}