@import 'css/custom.css';
@import 'css/ckeditor.css';

html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "LatoBold", sans-serif;
}

h3 {
  line-height: 38px;
  font-weight: 700;
  font-style: normal;
  font-size: 28px;
}

a, p, span, ul, ol, li {
  font-family: "Sylfaen", sans-serif;
}

p > a {
  font-style: italic;
  color: #1c93c5!important;
  cursor: pointer;
}

p > a:hover {
  color: #1c93c5;
  text-decoration: underline;
}

h1 {
  font-size: 4em;
}

h1, h2 {
  color: #333333;
  text-transform: uppercase;
}

body {
  color: rgba(0,0,0,.8);
}

a,
a:hover,
a:active,
a:visited {
  text-decoration: none;
  color: #000000;
}

h4 a {
  text-decoration: underline;
}

h4 a:hover {
  text-decoration: underline;
}

h4 {
  font-weight: 700;
  font-size: 24px;
  margin: 20px 0;
}

.section {
  max-width: 1080px;
  text-align: center;
  margin: 0 auto;
}

.content-container {
  max-width: 780px;
  margin: 0 auto;
}

.content {
  margin: 20px;
}

.content h2 {
  padding-top: 35px;
}

p {
  font-size: 20px;
}

ul, ol, li {
  margin-bottom: 14px;
  font-size: 20px;
}
.entry-content {
  margin: 0 auto;
  max-width: 780px;
}

.entry-content a {
  font-style: normal;
}

.entry-content img{
  width: 100%;
}

*:before, *:after {
  background: #fefefe;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
}


@media (max-width: 1201px) {
  h1 {
    font-size: 3em;
  }
}

/* Large desktops and laptops */
@media (min-width: 1200px) {

}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

@media (max-width: 991px) {
  .entry-content {
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  h1 {
    font-size: 2em;
  }
  h3 {
    font-size: 26px;
  }
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
  .entry-content p,
  .entry-content ul {
    font-size: 18px;
  }
}