.welcome {
  margin-top: 150px;
}
.welcome h1, h2 {
  text-align: center;
}

.welcome h4 {
  margin-top: 15px;
}

.welcome h1 {
  margin-bottom: 0;
}

.welcome h2 {
  text-transform: none;
}

.welcome p {
  text-align: center;
}